<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GuildBlaster_DiscordBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <GuildBlaster_DiscordBot.Properties.Settings>
      <setting name="WowApiKey" serializeAs="String">
        <value>4j2ume5rntdx8dubygmghumg7y5uanmr</value>
      </setting>
      <setting name="DiscordBotToken" serializeAs="String">
        <value>MjA5NzY5NTE3MjUxOTUyNjQw.CoFClg.hbbw89PcTH7GUFpVYyzeX0ja4cI</value>
      </setting>
      <setting name="TargetRealm" serializeAs="String">
        <value>Thrall</value>
      </setting>
      <setting name="GuildName" serializeAs="String">
        <value>Proper Villains</value>
      </setting>
      <setting name="SoundsPath" serializeAs="String">
        <value>\\bdon\ServerApps\Sounds\</value>
      </setting>
    </GuildBlaster_DiscordBot.Properties.Settings>
  </applicationSettings>
</configuration>